* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
}

.wrap {
    text-align: center; /* Esto centrará el título */
    width: 800px; /* Igual al ancho de .container */
}



:root {
    --color-gray: #202020;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #FF0000;
    --color-blue: #0000FF;
    --color-yellow: #FFFF00;
    --color-green: #00FF00;
    --color-orange: #FFA500;
    --color-purple: #800080;
    --color-red-orange: #FF4500;
    --color-yellow-orange: #FFAE42;
    --color-yellow-green: #9ACD32;
    --color-blue-green: #20B2AA;
    --color-blue-purple: #8A2BE2;
    --color-red-purple: #9932CC;
    --color-greige: #ddd5bf;
    --color-sky: #99daf9;
    --color-sky-white: #EDEDED
}

.title {
    text-align: center;
    color: var(--color-gray);
    font-size: 15px;
}

.container {
    /* Ajusta el ancho y alto del contenedor si es necesariver */
    width: 800px;
    height: 700px;
    border: 2px solid black; /* Un borde para visualizar el contenedor completo */
    box-shadow: -1px -1px 10px rgb(0 0 0)
}

/* river */
@keyframes rippleEffect {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.river {
    background-color: #1E88E5;
    height: 80px;
    background: linear-gradient(169deg, #1E88E5, #8db9cf, #8cc2d7, #0057A8);
    background-size: 400% 400%;
    animation: rippleEffect 6s ease infinite;
}

@keyframes moveFromRightToLeft {
    0% {
        transform: translateX(calc(0% + 10%)) scaleX(1);  /* Inicio: en el borde derecho con orientación original */
    }
    48% {
        transform: translateX(900%) scaleX(1); /* Casi llegando al extremo izquierdo, mantiene orientación original */
    }
    50% {
        transform: translateX(900%) scaleX(-1); /* Al llegar al extremo izquierdo se voltea instantáneamente */
    }
    98% {
        transform: translateX(calc(0% + 10%)) scaleX(-1);  /* Casi llegando al borde derecho manteniendo la orientación volteada */
    }
    100% {
        transform: translateX(calc(0% + 10%)) scaleX(1);  /* Al llegar al borde derecho vuelve a su orientación original instantáneamente */
    }
}

.death-cross {
    width: 10%;
    height: auto;
    display: block;
    animation: moveFromRightToLeft 10s linear infinite;
}

/* FIN river */

.bueno {
    background-color: var(--color-sky-white);
    height: 520px; 
}
/* FIN bueno */


.hospital {
    display: flex;
}

.doctor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9c489;
    height: 100px;
}

.doctor-img {
    width: 30%;
    height: auto;
}


/* FIN doctor-container */

.creet {
    background-image: url("../images/run_sonic.gif");
    position: absolute;
	background-position: center;
	background-size: cover;
}


.button-start {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: var(--color-white);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 20px;
}

.button-start:hover {
    background-color: #2980b9;
}

.button-start:active {
    transform: scale(0.95);
}

.button-des {
    pointer-events:none;
    background-color: var(--color-gray) !important;
    color: #777;
    cursor: not-allowed;
    opacity: 0.7;
}

.perdiste-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(247 52 52 / 70%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perdiste-text {
    font-size: 50px;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 20px;
}

.virus-gif {
    width: 10%;
    height: auto;
    display: block;
}
